/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
 /* margin: 2em;*/
 margin:0px;
}
body app-root{
	margin: 2em;
	display:block;
	margin-bottom:50px;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
app-root *, .text-implementation {
  font-family: Arial, Helvetica, sans-serif;
}

.text-implementation{
	margin-top:50px;
}

img.logo-angular{
	width:45px;
}

.header-logo{
	box-sizing: border-box;
	text-align: center;
	background-color: #369;
	position:fixed;
	width:100%;
	top:0;
}

.footer-body{
	box-sizing: border-box;
	height:42px;
	margin:0 auto;
	text-align: center; 
	font-family:cursive !important;
	border-top:1px solid #e3e3e3;
	background-color:#369;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.footer-body a{
	color: white;
	margin:auto;
}